{{> header}}
{{> loader}}
<main class="signupPage page">
  <section class="pageSection">
    <div class="container ">
      <div class="signupWrap pageWrap v2">
        <div class="contentBox finAnim">
          <h1 class=" ">
            <small>Profile Page</small>
          </h1>
        </div>

        <div class="formBox finAnim d1">
          <form class="form-v3" action="{{ menuLink 'dashboard' }}">
            <div class="input_box">
              <div class="input-field">
                {{!-- <span class="form-text text-danger field-validation-error" data-valmsg-for="loginModel.Username"
                  data-valmsg-replace="true"><span id="loginModel_Username-error" class="">The Email Id field is
                    required.</span></span> --}}
                <label for="emailid">Emaratax Email Id</label>
                <input id="emailid" type="email" placeholder="example@name.com" readonly>
              </div>

              <div class="input-field">
                <label for="emailid">TRC Email Id</label>
                <input id="emailid" type="email" placeholder="example@name.com" readonly>
              </div>

              <div class="inputWrap v3">
                <div class="input-field">
                  <label for="firstNameEng">First name in English</label>
                  <input id="firstNameEng" type="text">
                </div>

                <div class="input-field">
                  <label for="lastNameEng">Last name in English</label>
                  <input id="lastNameEng" type="text">
                </div>
              </div>

              <div class="inputWrap v3">
                <div class="input-field">
                  <label for="firstNameAr">First name in Arabic</label>
                  <input id="firstNameAr" type="text">
                </div>

                <div class="input-field">
                  <label for="lastNameAr">Last name in Arabic</label>
                  <input id="lastNameAr" type="text">
                </div>
              </div>

              <div class="inputWrap">
                <div class="input-field">
                  <label for="code">Country Code</label>
                  <select id="code" data-select disabled>
                    <option>+971</option>
                    <option>+91</option>
                    <option>+005</option>
                  </select>
                </div>

                <div class="input-field">
                  <label for="num">Primary Mobile Number</label>
                  <input id="num" type="text">
                </div>
              </div>

              <div class="inputWrap">
                <div class="input-field">
                  <label for="code-02">Country Code</label>
                  <select id="code-02" data-select>
                    <option>+971</option>
                    <option>+91</option>
                    <option>+005</option>
                  </select>
                </div>

                <div class="input-field">
                  <label for="num-02">Secondary Mobile Number</label>
                  <input id="num-02" type="text">
                </div>
              </div>

              <div class="input-field full_">
                <div class="titleSm">
                  <span>Address</span>
                </div>

              </div>

              <div class="input-field">
                <label for="emirates">Emirates</label>
                <select id="emirates" data-select>
                  <option>Abu Dhabi</option>
                  <option>Dubai</option>
                  <option>Sharjah</option>
                  <option>Ajman</option>
                  <option>Umm Al Quwain</option>
                  <option>Ras Al Khaimah</option>
                  <option>Fujairah</option>
                </select>
              </div>

              <div class="input-field">
                <label for="area">Area</label>
                <input id="area" type="text" placeholder="Area here...">
              </div>

              <div class="input-field">
                <label for="streetName">Street Name</label>
                <input id="streetName" type="text" placeholder="Street name here...">
              </div>

              <div class="input-field">
                <label for="buildingName">Building Name</label>
                <input id="buildingName" type="text" placeholder="Building Name">
              </div>

              <div class="input-field">
                <label for="buildingNo">Building Number</label>
                <input id="buildingNo" type="text" placeholder="Building Number">
              </div>

              <div class="input-field">
                <label for="landmark">Landmark</label>
                <input id="landmark" type="text" placeholder="Landmark name here...">
              </div>

              <div class="input-field">
                <label for="flatNo">Villa / Flat Number</label>
                <input id="flatNo" type="text" placeholder="Villa / Flat Number here...">
              </div>
            </div>
          </form>
        </div>

        <div class="moreWrap finAnim d2">
          <button type="submit" class="more lg_ red">
            <span>Cancel</span>
          </button>

          <a href="#otpVerify" type="submit" class="more lg_" data-fancybox>
            <span>Submit</span>
          </a>
        </div>
      </div>
    </div>
  </section>

</main>

<div id="otpVerify" class="popup popupBox sm_box" style="display: none;">
  <div class="formBox">
    <form class="form-v3">
      <div class="contentBox">
        <div class="textBox textCenter">
          <p>Verify your email address</p>
          <span>"OTP has been sent to example@company.com"</span>
        </div>
      </div>

      <div class="input_box">
        <div class="input-field full_">
          <span class="form-text text-danger field-validation-error" data-valmsg-for="loginModel.Username"
            data-valmsg-replace="true"><span id="loginModel_Username-error" class="">The OTP field is
              required.</span></span>
          <input id="otp" type="text" placeholder="Enter the OTP received in Email">
        </div>
      </div>

      <div class="moreWrap alCenter">
        <button type="submit" class="more lg_">
          <span>Submit</span>
        </button>
      </div>
    </form>
  </div>
</div>

{{> script-page}}
{{> footer}}