{{> header}}
{{> loader}}
<main class="registerPage page">
  <section class="pageSection">
    <div class="container">
      <div class="successWrap pageWrap">
        <div class="formWrap finAnim">
          <div class="contentBox">
            <div class="imgBox">
              <img src="{{assets}}/images/greenTick.svg" class="" alt="">
            </div>

            <div class="titleBox">
              <h2>
                Success
              </h2>
            </div>

            <div class="textBox sm_ textCenter">
              <p>Please note that the initial payment is the submission fees and upon approval of the request you will
                be required to provide an additional payment in order for the certificate printing to be finalized
              </p>
            </div>

            <div class="moreWrap alCenter">
              <a href="{{ menuLink 'allRequests'}}" class="appNumLink">TRC-15173-2022
                <span class="appNumSpan">Your Application Number</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>


{{> script-page}}
{{> footer}}