{{> header}}
{{> loader}}
<main class="registerPage page">
  <section class="pageSection">
    <div class="container">
      <div class="successWrap pageWrap">
        <div class="formWrap finAnim">
          <div class="contentBox">
            <div class="imgBox">
              <img src="{{assets}}/images/greenTick.svg" class="" alt="">
            </div>

            <div class="titleBox">
              <h2>
                نجاح
              </h2>
            </div>

            <div class="textBox sm_ textCenter">
              <p>يرجى ملاحظة أن الدفعة الأولية هي رسوم التقديم وعند الموافقة على الطلب سوف تقوم بذلك
                أن يُطلب منك تقديم دفعة إضافية حتى يتم الانتهاء من طباعة الشهادة
              </p>
            </div>

            <div class="moreWrap alCenter">
              <a href="{{ menuLink 'allRequests'}}" class="appNumLink">TRC-15173-2022
                <span class="appNumSpan">رقم الطلب الخاص بك</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>


{{> script-page}}
{{> footer}}